.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  justify-content: center;
  gap: 24px;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.title_subtitle {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.title_subtitle h1 {
  width: auto;
  max-width: 850px;
  color: var(--gray800, #1d2939);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 107.692% */
  letter-spacing: -1.04px;
}

.title_subtitle h5 {
  width: auto;
  max-width: 580px;
  color: var(--gray500, #667085);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.28px;
}

.buttons {
  width: auto;
  display: flex;
  gap: 24px;
}

.imagem_hero {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.imageStyle {
  max-width: 600px;
  object-fit: contain;
}

.feacture {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0;
  max-width: 1440px;
}

.titulo_estimativa {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.titulo_estimativa h1 {
  min-width: 240px;
  max-width: 500px;
  color: var(--gray800, #1d2939);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
  letter-spacing: -0.8px;
}

.titulo_estimativa h5 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.feacture_item{
  width: 100%;
  height: auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.item {
  flex: 1;
 min-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titulo_subtilo_item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo_subtilo_item h1 {
  color: var(--gray800, #1d2939);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.titulo_subtilo_item h5 {
  align-self: stretch;
  color: var(--gray500, #667085);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

@media (max-width: 980px) {
  .hero {
    padding: 32px 0;
  }
  .title_subtitle h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 109.091% */
    letter-spacing: -0.88px;
  }
  .title_subtitle h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
}

@media (max-width: 520px) {
  .main {
    padding: 16px;
  }

  .hero {
    padding: 32px 0;
  }
  .title_subtitle h1 {
    font-size: 36px;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
  }
  .title_subtitle h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  .buttons {
    width: 100%;
    flex-direction: column;
    gap: 16px;
  }

  .feacture{
    padding: 32px 0;
    gap: 24px;
  }
  .titulo_estimativa h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 120% */
    letter-spacing: -0.8px;
  }

  .titulo_estimativa h5 {
    font-size: 16px;
    font-style: normal;
    line-height: 20px; /* 120% */
  }
}
