.container_form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.container_form h1 {
  color: var(--gray900, #101828);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.container_input_form {
  width: 100%;
  height: auto;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.fadeOut {
  opacity: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}
.fadeIn {
  opacity: 1;
  transition: all 1s ease-in-out;
}
